@model LazyNews.Core.ViewModels.HeadlineViewModel


@foreach (var item in Model.NewsHeadlines)
{
    <div class="col-md-12">
        <div class="article-container">
            <div class="pull-right h6"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>@item.Category</div>

            @if (item.TimeAdded.DayOfYear == DateTime.Now.DayOfYear)
            {
                <div class="h5">
                    <span class="label label-danger">New</span><span> <time class="timeago" datetime="@item.TimeAdded.ToLongDateString()  @item.TimeAdded.ToLongTimeString()"> [time]</time></span>
                </div>
            }
            else
            {
                <div class="h5">
                    <time class="timeago" datetime="@item.TimeAdded.ToLongDateString() @item.TimeAdded.ToLongTimeString()">[time]</time>
                </div>
            }

            @if (item.Imagepath != null)
            {
                <img src="@item.Imagepath" class="article-image pull-left" />
            }
            else
            {
                if (item.NewsSource == "theguardian")
                {
                    <img src="https://s3.amazonaws.com/the-citizen-web-assets-us/uploads/2018/03/07125704/theguardianlogo.jpg" class="article-image pull-left" />
                }
                if (item.NewsSource == "foxnews")
                {
                    <img src="https://static.foxnews.com/static/orion/styles/img/fox-news/og/og-fox-news.png" class="article-image pull-left" />
                }
                if (item.NewsSource == "bbc")
                {
                    <img src="https://m.files.bbci.co.uk/modules/bbc-morph-news-waf-page-meta/4.1.1/bbc_news_logo.png" class="article-image pull-left" />
                }
                if (item.NewsSource == "nytimes")
                {
                    <img src="https://static01.nyt.com/newsgraphics/images/icons/defaultPromoCrop.png" class="article-image pull-left" />
                }
                if (item.NewsSource == "theverge")
                {
                    <img src="https://blog.ourcrowd.com/wp-content/uploads/2016/03/The-Verge.png" class="article-image pull-left" />
                }
                if (item.NewsSource == "Cnet")
                {
                    <img src="https://cnet4.cbsistatic.com/fly/bundles/cnetcss/images/core/redball/logo_192.png" class="article-image pull-left" />
                }
            }

            <div class="headline-container">
                <h3><a class="anchorDetail headline-link" data-id="@item.id">@item.Headline</a></h3>
                <button class="anchorDetail btn btn-sm btn-default modal-btn" data-id="@item.id">Full article &raquo;</button>
            </div>
            <hr />
            <button class="btn btn-primary btn-sm" type="button" onclick="Categorize(@item.id, 'Technology')">Technology</button>
            <button class="btn btn-primary btn-sm" type="button" onclick="Categorize(@item.id, 'Politics')">Politics</button>
            <button class="btn btn-primary btn-sm" type="button" onclick="Categorize(@item.id, 'Business')">Business</button>
            <button class="btn btn-primary btn-sm" type="button" onclick="Categorize(@item.id, 'Sports')">Sports</button>
            <button class="btn btn-primary btn-sm" type="button" onclick="Categorize(@item.id, 'Crime')">Crime</button>
            <button class="btn btn-success btn-sm" type="button" onclick="Categorize(@item.id, 'Science')">Science</button>
            <button class="btn btn-danger btn-sm" type="button" onclick="Categorize(@item.id, 'Junk')">Junk</button>
        </div>
    </div>
}


